{
  "root": true,
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": [
    "promise"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "promise/catch-or-return": "warn",
    "indent": ["warn", 4],
    "no-trailing-spaces": 1,
    "semi": ["warn", "never"],
    "eol-last": 1,
    "space-in-parens": ["warn", "never"],
    "no-multiple-empty-lines": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-unused-vars": 1,
    "no-constant-condition": 0,
    "no-console": 0,
    "no-else-return": 1,
    "space-before-blocks": 1,
    "keyword-spacing": 1
    }
}
